<% provide(:title, 'Index') %>

<h1>Articles</h1><hr>
	
	<div class="article-index">
    <ol type="1">
    <% @articles.each do |article| %>
	      <h3><strong><li><%= link_to article.name.titleize, article %></li></strong></h3> &nbsp &nbsp 
	       <i class="art-post"> posted on <%= article.created_at.strftime("%A, %d %b %Y") %>&nbsp  by <%= article.user.email %></i>&nbsp &nbsp 
	      <br /><br />

	      <%= truncate article.content, :length => 420, :separator => ' ' %> &nbsp
	      <%= link_to 'Click here for Full article', article %>

	      <br /><hr>
	      
    <% end %>
    </ol>
    </div>
     

<br>

