<%= form_for([@article, @article.comments.build]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><br />

  <div class="field">
    
    <%= f.text_area :name, :placeholder => 'your comment here..' %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
