
<div class="row">
	<div class="col-md-3">
		<h3><strong>Articles by Date:</strong></h3><hr>
		<% @articles.each do |article| %>
		         <ul>
		            <li>
		            	<%= link_to (truncate strip_tags(simple_format(article.name)), :length => 30, :separator => ' '), article %>
		            </li>
		         </ul>
		<% end %> 
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div id="calendar">
					<h3 id="month">
				      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn" do %>
				       <strong><</strong> 
				      <% end %>
				      <%= "#{@date.strftime("%B")} #{@date.year}" %>
				      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn" do %>
				       <strong>></strong>
				      <% end %>
				    </h3>
				   

				    <%= calendar @date do |date| %>
				      <%= date.day %>
				      <% @articles.each do |article| %>
				         <ul>
				           <% if article.created_at.strftime("%D") == date.strftime("%D") %>
				            <li>
				            	<%= link_to (truncate strip_tags(simple_format(article.name)), :length => 30, :separator => ' '), article %>
				            </li>
				           <% end %>
				         </ul> 
				       <% end %>
				    <% end %>
				</div><br /> <br />
			</div>
		</div>	
	</div>
</div>
