<h3>Articles by Date:</h3>
<div class="row">
	<div class="col-md-12">
		<div id="calendar">
			<h2 id="month">
		      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn" do %>
		       <strong><</strong> 
		      <% end %>
		      <%= "#{@date.strftime("%B")} #{@date.year}" %>
		      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn" do %>
		       <strong>></strong>
		      <% end %>
		    </h2>
		   

		    <%= calendar @date do |date| %>
		      <%= date.day %>
		      <% @articles.each do |article| %>
		         <ul>
		           <% if article.created_at.strftime("%D") == date.strftime("%D") %>
		            <li>
		            	<%= link_to article.name, article %> 
		            		<% if user_signed_in? %>
		            			<% if current_user.email == article.user.email %>
		            				<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
		            			<% end %>
		            		<% end %>
		            </li>
		           <% end %>
		         </ul> 
		       <% end %>
		    <% end %>

		</div>
	</div>
</div>
