<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

    <ol type="1">
    <% @articles.each do |article| %>
	      <li><strong><%= link_to article.name, article %></strong> &nbsp &nbsp by <%= article.user.email %>&nbsp &nbsp 
	      <% if article.user.email == current_user.email %>
	      <%= link_to 'Edit', edit_article_path(article) %>
	      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
	      <% end %>
	      <br />

	      <%= article.content %><br /><br /><br />
	      </li>
    <% end %>
     

<br>

