<% provide(:title, 'Home') %>

<h3><strong>Articles</strong></h3><hr>
<p style="color:red"> <strong><%= @search %> </strong></p>

<div class="article-index">
    <ol type="1">
	    <% @articles.each do |article| %>
		      <h5><li><%= link_to article.name.titleize, article %></li></h5> &nbsp &nbsp 
		      <i class="art-post"> posted on <%= article.created_at.strftime("%A, %d %b %Y") %>&nbsp  by <%= article.user.email %></i>&nbsp &nbsp 
		      <% if article.user.email == current_user.email %>
			      <%= link_to 'Edit', edit_article_path(article) %> &nbsp &nbsp
			      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
		      <% end %><br /><br />

			  <%= truncate strip_tags(simple_format(article.content)), :length => 420, :separator => ' ' %> &nbsp
			  <%= link_to 'Click here for Full article', article %><br /><hr>
	    <% end %>
    </ol>
</div><br>

