<% provide(:title, @article.name.titleize) %>

<p>
  <strong><h3> <%= @article.name.titleize %></h3></strong> &nbsp
  <i class="art-post"> by <%= @article.user.email %> </i>
  <% if user_signed_in? %>
    <% if @article.user.email == current_user.email %>
      <i style="float:right"><%= link_to 'Edit Article', edit_article_path(@article) %></i>
    <% end %>
  <% end %>
</p>

<p style="color:green">
  <strong>Description:</strong>
  <%= simple_format(@article.content) %>
</p>
<h4 id="comment-invoke">Comments: </h4>
<div id="comment-holder">

<% if @article.comments.any? %><br /><hr> 
      <p id="comment_count"><%= @article.comments.count %> &nbsp comments:</p>

  <div class="comment-box"> 
    <ul id="nalla">
          <%= render @article.comments %>
    </ul><br />
  </div>
<% else %>
  <p>0 comments.</p>
<% end %>
  <p id="shiva"></p>

  <div id="com_form">
    <%= render 'comments/form'%><br><br>
  </div>
</div>


