<% provide(:title, @article.name.titleize) %>

<p>
  <strong><h3> <%= @article.name.titleize %></h3></strong> &nbsp
  <i class="art-post"> by <%= @article.user.email %> </i>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.content %>
</p>
<% if @article.comments.any? %><br /><hr> 
<h4>Comments: </h4>
<div class="comment-box"> <h5><%= @article.comments.count %>&nbsp comments:</h5>
          
  <ul><% @article.comments.each do |comment| %>
           <li><%= comment.name %> &nbsp &nbsp<br /> <i class="com-post">posted <%= time_ago_in_words(comment.created_at) %> ago &nbsp by <%= comment.user.email %> &nbsp &nbsp &nbsp 
                  <% if comment.user.email == current_user.email %> 
                    <p class="com-del"><%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning' %></p>
                  <% elsif @article.user.email == current_user.email %>
                    <p class="com-del"><%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning' %></p>
                  <% end %></i></li>
               <% end  %></ul><br />
               </div>
          <%= render 'comments/form' %>
<% else %>
<br/><p>0 comments.</p>
          <%= render 'comments/form' %>
<% end %>



