<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><%= link_to '', articles_path, :class => 'glyphicon glyphicon-home' %></li> 
      <% else %>
        <li><%= link_to '', root_path, :class => 'glyphicon glyphicon-home' %></li>
      <% end %>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <li><%= link_to 'New Article', new_article_path %></li>
              <li><%= link_to 'My Articles', article_calendar_path %></li>
              <li><%= link_to 'My Account',  account_path %> </li>
              <% end %>
      </ul>
      <ul class="nav navbar-nav pull-right">  
      <% if user_signed_in? %>
        <li style="margin-top:8px"> 
            <%= form_tag articles_path, class: "form-inline", role: "form", :method => 'get' do %> 
              <div class="form-group has-success has-feedback"> 
                <%= text_field_tag :search, params[:search], :placeholder => "search articles", class: " search-query form-control" %> 
                <%= button_tag "", class: "glyphicon glyphicon-search", style: "padding:12px;" %>
              </div>  
            <% end %>
        </li>     
      

        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <% else %>
        <li style="margin-top:8px"> <%= form_tag articles_path, class: "form-inline", role: "form", :method => 'get' do %> 
              <div class="form-group has-success has-feedback"> 
                <%= text_field_tag :search, params[:search], :placeholder => "search articles", class: " search-query form-control" %>  
                <%= submit_tag "Search", :name => nil, class: "btn btn-default"%>
              </div>  
            <% end %>
        </li> 
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> 
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>